{% extends "layout.html" %}

{% block title %}
   ÉVARA
{% endblock %}

{% block content %}
   <div class="home">
      <h1>LOOKS YOU REMEMBER</h1>
      <a href="{{ url_for('shop') }}" class="home-shop">SHOP NOW <i class="fa-solid fa-arrow-right"></i></a>
   </div>
   <div class="sale" id="sale">
      <h1>ON SALE</h1>
      <div class="item-cards">
         {%  for product in sale %}
            <div class="item-card" data-link="{{ url_for('product_detail', id=product['id']) }}">
                <div class="card-img">
                    <img src="{{ url_for('static', filename=product['image_url']) }}">
                    <form action="{{ url_for('toggle_wishlist', product_id=product['id']) }}" method="POST">
                        <button type="submit" class="wishlist-btn">
                            {% if product['id'] in wishlist_ids %}
                                <i class="fa-solid fa-heart wishlist active"></i>
                            {% else %}
                                <i class="fa-regular fa-heart wishlist"></i>
                            {% endif %}
                        </button>
                    </form>
                    <span class="price-tag">
                        {% if product['sale_price'] %}
                            <span class="old-price">{{ rs(product['price']) }}</span>
                            <span class="new-price">{{ rs(product['sale_price']) }}</span>
                        {% else %}
                            <span class="new-price">{{ rs(product['price']) }}</span>
                        {% endif %}
                    </span>
                </div>
                <div class="card-info">
                    <h5>{{ product['name'] }}</h5>
                    <form action="{{ url_for('toggle_cart', product_id=product['id']) }}" method="POST">
                        {% if product['id'] in cart_ids %}
                            <button class="add-cart-added">Added ✓</button>
                        {% else %}
                            <button class="add-cart">Add to Cart</button>
                        {% endif %}
                    </form>
                </div>
            </div> 
         {% endfor %}
      </div>
   </div>
   <div class="categories">
      <h1>CATEGORIES</h1>
      <div class="category-cards">
         <div class="category-card" data-link="{{ url_for('dresses') }}">
            <img src="{{ url_for('static', filename='images/category-dress.webp') }}">
            <div class="category-overlay">
               <h3>Dresses</h3>
            </div>
         </div>
         <div class="category-card" data-link="{{ url_for('coord') }}">
            <img src="{{ url_for('static', filename='images/category-coord.webp') }}">
            <div class="category-overlay">
               <h3>Co-ord Sets</h3>
            </div>
         </div>
         <div class="category-card" data-link="{{ url_for('jeans') }}">
            <img src="{{ url_for('static', filename='images/category-jeans.jpg') }}">
            <div class="category-overlay">
               <h3>Jeans</h3>
            </div>
         </div>
         <div class="category-card" data-link="{{ url_for('tops') }}">
            <img src="{{ url_for('static', filename='images/category-top.webp') }}">
            <div class="category-overlay">
               <h3>Tops</h3>
            </div>
         </div>
      </div>
   </div>
   <div class="collection" id="collection">
      <h1>OUR COLLECTION</h1>
      <div class="item-cards">
          {%  for product in coll %}
            <div class="item-card" data-link="{{ url_for('product_detail', id=product['id']) }}">
                <div class="card-img">
                    <img src="{{ url_for('static', filename=product['image_url']) }}">
                    <form action="{{ url_for('toggle_wishlist', product_id=product['id']) }}" method="POST">
                        <button type="submit" class="wishlist-btn">
                            {% if product['id'] in wishlist_ids %}
                                <i class="fa-solid fa-heart wishlist active"></i>
                            {% else %}
                                <i class="fa-regular fa-heart wishlist"></i>
                            {% endif %}
                        </button>
                    </form>
                    <span class="price-tag">
                        {% if product['sale_price'] %}
                            <span class="old-price">{{ rs(product['price']) }}</span>
                            <span class="new-price">{{ rs(product['sale_price']) }}</span>
                        {% else %}
                            <span class="new-price">{{ rs(product['price']) }}</span>
                        {% endif %}
                    </span>
                </div>
                <div class="card-info">
                    <h5>{{ product['name'] }}</h5>
                    <form action="{{ url_for('toggle_cart', product_id=product['id']) }}" method="POST">
                        {% if product['id'] in cart_ids %}
                            <button class="add-cart-added">Added ✓</button>
                        {% else %}
                            <button class="add-cart">Add to Cart</button>
                        {% endif %}
                    </form>
                </div>
            </div> 
         {% endfor %}
      </div>
      <!-- SHOP MORE BUTTON -->
      <div class="shop-more-wrap">
         <a href="{{ url_for('shop') }}" class="btn-shop-more">Shop More</a>
      </div>
   </div>
{% endblock %}